@import "tailwindcss";

@theme {
  /* PCA Grey */
  --color-pca-grey-100: #F8F8F8;
  --color-pca-grey-200: #EDEDED;
  --color-pca-grey-300: #C8C8C8;
  --color-pca-grey-400: #A4A4A4;
  --color-pca-grey-500: #808080;
  --color-pca-grey-600: #5B5B5B;
  --color-pca-grey-700: #505050;
  --color-pca-grey-800: #303030;
  --color-pca-grey-900: #101010;

  /* PCA Blue */
  --color-pca-blue-300: #C2D2FC;
  --color-pca-blue-500: #398BF6;
  --color-pca-blue-700: #0839B7;

  /* PCA Yellow */
  --color-pca-yellow-300: #FFEEA8;
  --color-pca-yellow-500: #FFE365;
  --color-pca-yellow-700: #D9B93A;

  /* PCA Pink */
  --color-pca-pink-300: #FFE5E5;
  --color-pca-pink-500: #FECCCC;
  --color-pca-pink-700: #E89A9A;

  /* PCA Orange */
  --color-pca-orange-300: #FFD1A8;
  --color-pca-orange-500: #FF9C41;
  --color-pca-orange-700: #D9771E;

  /* PCA Green */
  --color-pca-green-300: #A9F58A;
  --color-pca-green-500: #52E01F;
  --color-pca-green-700: #2FA80F;

  /* PCA Red */
  --color-pca-red-100: #FFF0F0;
  --color-pca-red-300: #FECCCC;
  --color-pca-red-500: #EF4444;
  --color-pca-red-700: #9E1C1C;

  /* PCA White */
  --color-pca-white: #FFFFFF;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
